body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#calculator-box {
  margin: 20px;
  display: flex;
  flex-direction: column;
   background-color: grey;
   color: white;
   font-weight: bolder;
   width: 300px;
   height: 300px;
}

#display {
  height: 10%;
  text-align: right;
  padding: 10px 5px;
}

button {
  border: none;
  height: 100%;
  width: 25%;
  padding: 10px;

}

.row {
display: flex;
flex-grow: 1;
}


#calculator-box .double {
  width: 50%;
}

button:nth-child(4), .double + button + button {
  background-color: #fb853b;
}
